/* Menu */
.menu {
}

.btn-menu img {
  width: 100%;
  height: 100%;
  margin-bottom:100% ;
}
.btn-menu {
  background: none; /* Remove o fundo */
  border: none; /* Remove a borda */
  padding: 0; /* Remove o preenchimento interno */
  cursor: pointer; /* Adiciona um indicador de cursor para indicar que é clicável */
  outline: none; /* Remove a borda de foco ao clicar no botão */
  align-items: center;
  justify-items: center;
  
}
