.home {
  margin: 0;
 min-width: 100vw;
 min-height: 100vh;
}

div {
  margin: 0;
  padding: 0;
}

.header-home {
  position: fixed;
  top: 0;
  width: 100%;
}

.body-home {
  min-width: 100%;
  min-height: 100%;
  top: 100;
}

.panel-home {
  margin-top: 130px;
  margin-left: 4.17%;
  position: fixed;
}
