.header {
  background-color: #ff7293;
  width: 100%;
  height: 90px;
  position: fixed;
  border: none;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.btn-home {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #da0000;
  margin: 5px 0 4px 4.17%;
  padding: 0;
}

.img-home {
  width: 106px;
  height: auto;
}

.btn-home img:hover {
  transform: scale(1.08);
}

/* switch button */

.switch-button {
  border-radius: 20px;
  width: 280px;
  height: 30px;
  background-color: #dc7184;
  margin: 30px 0 30px 4.71%;
  padding: 0;
  display: flex;
  color: white;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  /* Defina a altura conforme necessário */
}

.active-switch {
  background-color: #c34a5f;
  border-radius: 20px;
  width: 140px;
  height: 30px;
  padding: 0;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.disable-switch {
  background-color: #dc7184;
  border-radius: 20px;
  width: 140px;
  height: 30px;
  padding: 0;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}
.active-switch p {
  text-align: center;
}

.disable-switch p {
  text-align: center;
}
.menu {
}

.btn-menu img {
  width: 100%;
  height: 100%;
}

.btn-menu {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  border: none;
  justify-content: end;
  margin: 27px 4.27% 27px 57.22%;
  cursor: pointer;
}
