.header {
  background-color: #ff7293;
  width: auto;
  height: 90px;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn-home {
  background-color: transparent;
  max-width: 100%;
  max-height: 100%;
  border: none;
  margin: 5px 0 4px 4.17%;
  padding: 0;
  cursor: z;
}

.img-home {
  width: 106px;
  height: auto;
}

.btn-home img:hover {
  transform: scale(1.08);
}

/* switch button */

.component-switch {
  align-items: center;
  width: auto;
  height: 30px;
  margin: 30px 0 30px 4.71%;
}

/* menu button */

.component-menu {
  min-height: 33.33%;
  min-width: 2.08%;
  height: 33.33%;
  width: 2.08%;
  justify-content: end;
  margin: 27px 4.27% 27px 57.22%;
}
