.footers {
  display: flex;
  flex-direction: column;
  margin: 130px 4.17% 0 30px;
}

.footer-adoption {
  width: 290px;
  height: 315px;
  background-color: #FF85A1;
  border-radius: 20px;
}
.footer-follow {
  width: 290px;
  height: 110px;
  background-color: #FF85A1;
  border-radius: 20px;
  margin-top: 15px;
}
.footer-help {
  width: 290px;
  height: 110px;
  background-color: #FF85A1;
  border-radius: 20px;
  margin-top: 15px;
}
.footer-about {
  width: 290px;
  height: 110px;
  background-color: #FF85A1;
  border-radius: 20px;
  margin-top: 15px;
}
.about-team-polygon {
  width: 220px;
  height: 15px;
  background-color: #FF85A1;
  border-radius: 20px;
  margin: 50px 0 0 70px;
}
